@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


body {  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
}


/*--------------------------------------------------------------------------*/
/*------------------------------------------------------------Logo & Nav Bar*/

nav {position: relative;
    margin: 20px 20px 150px 20px;
    top: 0;
   }

.logo{
    float: left;
    margin-left: 40px;
       }

.logo-title {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 5rem;
    letter-spacing: 2px;
    color: #000;
}

.logo-base a:hover {
    text-decoration: none;
}
   
.logo-title-strong {
   
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 2px;
     color: #000;
     line-height: 0.75;
    font-weight: bolder;
    font-size: 6rem;
        }

 
nav .nav-wrapper ul li a {
    float: right;
    text-decoration: none;
    list-style: none;
}

.nav-wrapper ul li a:hover{
    color: #252525; 
    opacity: 0.7;
    transition: 1s;
    text-shadow: 4px 4px 8px #26272b; ;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
   padding: 25px 0;
}



nav ul li:not(:first-child){
    margin-left: 48px;
    }

    nav ul li:last-child{
    margin-right: 28px;
    }

nav ul li a {
    display: inline-block;
    color: #000;
    font-family: "Roboto Condensed", sans-serif;
     font-size: 2rem;
     font-weight: bold;
     letter-spacing: 2.5px;
}




/*----------------------------------------------------------------------*/
/*-----------------------------------------------------------Media Query*/


@media screen and (max-width: 993px) {
    nav {
        padding: 10px 10px;
    }
    .logo
    {
        padding: 20px 15px;
    }
    .logo-title {
        font-size: 55px;
    }
     .logo-title-strong {
        font-size: 70px;
    }
nav ul li{
    padding: 12px 5px;
}

    nav ul li a {
        font-size: 35px;
            }

    .nav-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        z-index: -1;
        opacity: 0;
        transition: all 0.2s ease;
    }        

     .nav-wrapper ul{
         position: absolute;
         top: 30%;
         transform: translateY(-50%);
        }


     

    .nav-wrapper ul li {
        display: block;
        width: 100%;
        float: none;
        text-align: right;
        margin-bottom: 10px;
    }
/*-------------------------------------------------------------------------*/
/*--------------------------------------------------------Drop-down Sequence*/

    .nav-wrapper ul li:nth-child(1) a {
        transition-delay: 0.3s;
    }

    .nav-wrapper ul li:nth-child(2) a {
        transition-delay: 0.4s;
    }

    .nav-wrapper ul li:nth-child(3) a {
        transition-delay: 0.5s;
    }

    .nav-wrapper ul li:nth-child(4) a {
        transition-delay: 0.6s;
    }

   nav ul li:not(:first-child){
    margin-left: 0;
   }    

.nav-wrapper ul li a {
    padding: 10px 22px;
    color: #fff;
    font-weight: 14px;
    letter-spacing: 1.2px;
    opacity: 0;
    transform: translateX(-20px);
    transition: all 0.2s ease;
}

.nav-btn {
        position: fixed;
        right: 10px;
        top: 10px;
        width: 48px;
        height: 48px;
        display: block;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;
}

    .nav-btn i {
        display: block;
        width: 40px;
        height: 3px;
        background: #000;
        border-radius: 2px;
        margin-left: 5px;
    }

    .nav-btn i:nth-child(1){
        margin-top: 24px;
    }
    .nav-btn i:nth-child(2){
        margin-top: 4px;
        opacity: 1;
    }
    .nav-btn i:nth-child(3){
        margin-top: 4px;
    }

}
/*-------------------------------------------------------------------------*/
/*----------------------------------------------------------BurgerIcon setting*/


#nav:checked + .nav-btn{
    transform: rotate(45deg);
}

#nav:checked + .nav-btn i{
    background: #fff;
    transition: all 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
    transform: translateY(7px) rotate(180deg);
}
#nav:checked + .nav-btn i:nth-child(2) {
    opacity:0;
}
#nav:checked + .nav-btn i:nth-child(3) {
    transform: translateY(-7px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
    z-index: 9990;
    opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
    opacity: 1;
    transform: translateX(0);
}

.hidden {
    display: none;
}


/*====================================================index.html*/
.main-outer {
   
}

.main-outer .row {
    display: flex;
   align-items: center;
   margin: 30px auto;
}
.intro-pic img {
    max-height: 200px;
   
      }

.intro-text {
    padding: 0 20px;
}



/*=====================================================GALLERY ARTISTS.HTML*/

.glry-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    height: 300px;
    width: 300px;
    background-color: #313333;
    transform: scale(0.7);
    border-radius: 8px;
    box-shadow: 0 0 80px 1px #26272b;
    margin-bottom: 50px;
}

.info {
    width: 100%;
    height:100%;
    display:flex;
    justify-content: center;
}

.artist {
    font-family: "Robot Condensed", sans-serif;
    font-size: 1.25rem;
    font-weight: bolder;
    color: #CAEBF2;
    text-shadow: 0px 0px 2px #26272b;
    position: absolute;
    top: 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.country {
    font-size: 1rem;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
    color: skyblue;
    position: absolute;
    top: 60px;
    text-transform: uppercase;
    text-shadow: 0px 0px 2px #26272b;
}

.divider {
    background-color:#FF3B3F;
    height: 1.5px;
    width: 50px;
    position: absolute;
    top: 90px;
}

.more {
    position: absolute;
    top: 100px;
    color: #CAEBF2;
    line-height: 28px;
    font-size: 1rem;
    text-align: center;   
}

.card-btn {
    position: absolute;
    bottom: 20px;
    background-color: #fff;
    border: none;
    font-size: 20px;
    font-weight: bolder;
    padding: 13px 25px; 
    cursor: pointer;
    color: #00008f;
   }

.card .sptfy-link {
    position: absolute;
    bottom:-70px;
    font-size: 25px;
    color: #ff3b3f;
    background: #CAEBF2;
    width: 100%; 
    padding: 12px 4px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
   
}

/*-------------------------------------------------------------------*/
/*--------------------------------------------List of Gallery Photos*/
.pic1 {
    height: 100%;
    width: 100%;
    background-image: url("../img/agnes_obel1a.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom:0;
    background-size: 100% 100%;
    border-radius: 8px;
    transition: 1s;
   }


.card:hover .pic1 {
    transform: scale(0.5, 0.35) translateY(-525px);
    border-radius: 40%;
}


.pic2 {
    height: 100%;
    width: 100%;
    background-image: url("../img/ane_brun2.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom:0;
    background-size: 100% 100%;
    border-radius: 8px;
    transition: 1s;
}


.card:hover .pic2 {
    transform: scale(0.5, 0.35) translateY(-525px);
    border-radius: 40%;
}

.pic3 {
    height: 100%;
    width: 100%;
    background-image: url("../img/elperrodelmar2.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom:0;
    background-size: 100% 100%;
    border-radius: 8px;
    transition: 1s;
}


.card:hover .pic3 {
    transform: scale(0.5, 0.35) translateY(-525px);
    border-radius: 40%;
}

.pic4 {
    height: 100%;
    width: 100%;
    background-image: url("../img/fever_ray3.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom:0;
    background-size: 100% 100%;
    border-radius: 8px;
    transition: 1s;
}


.card:hover .pic4 {
    transform: scale(0.5, 0.35) translateY(-525px);
    border-radius: 40%;
}

.pic5 {
    height: 100%;
    width: 100%;
    background-image: url("../img/hannehukkelberg2.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom:0;
    background-size: 100% 100%;
    border-radius: 8px;
    transition: 1s;
}


.card:hover .pic5 {
    transform: scale(0.5, 0.35) translateY(-525px);
    border-radius: 40%;
}

.pic6 {
    height: 100%;
    width: 100%;
    background-image: url("../img/jennie_abrahamson1a.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom:0;
    background-size: 100% 100%;
    border-radius: 8px;
    transition: 1s;
}


.card:hover .pic6 {
    transform: scale(0.5, 0.35) translateY(-525px);
    border-radius: 40%;
}

.pic7 {
    height: 100%;
    width: 100%;
    background-image: url("../img/ninakinert2.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom:0;
    background-size: 100% 100%;
    border-radius: 8px;
    transition: 1s;
}


.card:hover .pic7 {
    transform: scale(0.5, 0.35) translateY(-525px);
    border-radius: 40%;
}


.pic8 {
    height: 100%;
    width: 100%;
    background-image: url("../img/olivera1a.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom:0;
    background-size: 100% 100%;
    border-radius: 8px;
    transition: 1s;
}


.card:hover .pic8 {
    transform: scale(0.5, 0.35) translateY(-525px);
    border-radius: 40%;
}


.pic9 {
    height: 100%;
    width: 100%;
    background-image: url("../img/stina_nordenstam2.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom:0;
    background-size: 100% 100%;
    border-radius: 8px;
    transition: 1s;
}


.card:hover .pic9 {
    transform: scale(0.5, 0.35) translateY(-525px);
    border-radius: 40%;
}

.pic10 {
    height: 100%;
    width: 100%;
    background-image: url("../img/susannesundfor2.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom:0;
    background-size: 100% 100%;
    border-radius: 8px;
    transition: 1s;
}


.card:hover .pic10 {
    transform: scale(0.5, 0.35) translateY(-525px);
    border-radius: 40%;
}


.pic11 {
    height: 100%;
    width: 100%;
    background-image: url("../img/tina_dico2.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom:0;
    background-size: 100% 100%;
    border-radius: 8px;
    transition: 1s;
}


.card:hover .pic11 {
    transform: scale(0.5, 0.35) translateY(-525px);
    border-radius: 40%;
}

.pic12 {
    height: 100%;
    width: 100%;
    background-image: url("../img/silje_nes1.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom:0;
    background-size: 100% 100%;
    border-radius: 8px;
    transition: 1s;
}


.card:hover .pic12 {
    transform: scale(0.5, 0.35) translateY(-525px);
    border-radius: 40%;
}




/*-----------------------------------------^^^^^ End List of Gallery Photos*/
/*-------------------------------------------------------------------*/























/*=========================================================Footer*/

.site-footer container
{
  position:relative;
  bottom: 0;
 }

.site-footer 
{ 
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.instagram:hover
{
  background-color:#007bb6
}
.social-icons a.imdb:hover
{
  background-color:#ea4c89
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}








